<h1>New Pass</h1>
<%= form_for :pass, url: passes_path do |f| %>
  <p>>
    <%= f.label :name %><br>
    <%= f.text_field(:name, {:class => 'form-control'}) %>  
  </p>
  
  <p>>
    <%= f.label :licensePlate %><br>
    <%= f.text_field(:licensePlate, {:class => 'form-control'}) %>  
  </p>
  
  <p>
    <%= f.submit({:class => 'btn btn-primary'}) %>
  </p>
<% end %>